{
  "swagger": "2.0",
  "info": {
    "title": "Uber API",
    "description": "Move your app forward with the Uber API",
    "version": "1.0.0"
  },
  "host": "api.uber.com",
  "schemes": [
    "https"
  ],
  "basePath": "/v1",
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/v1/specialist": {
      "get": {
        "summary": "GET /api/v1/specialist",
        "tags": [
          "specialist"
        ],
        "responses": {
          "200": {
            "$ref": "#/definitions/Specialist"
          }
        },
        "default": {
          "description": "Unexpected error",
          "schema": {
            "$ref": "#/definitions/Error"
          }
        }
      },
      "post": {
        "summary": "POST /api/v1/specialist",
        "tags": [
          "specialist"
        ],
        "responses": {
          "200": {
            "$ref": "#/definitions/Specialist"
          }
        },
        "default": {
          "description": "Unexpected error",
          "schema": {
            "$ref": "#/definitions/Error"
          }
        }
      }
    },
    "api/v1/specialist/{id}": {
      "delete": {
        "summary": "DELETE /api/v1/specialist/{id}",
        "tags": [
          "specialist"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of specialist to delete",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "specialist deleted"
          }
        },
        "default": {
          "description": "Unexpected error",
          "schema": {
            "$ref": "#/definitions/Error"
          }
        }
      }
    }
  },
  "definitions": {
    "Specialist": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of specialist."
        },
        "slug": {
          "type": "string",
          "description": "Slug of specialist."
        },
        "image": {
          "type": "string",
          "description": "Image URL representing the specialist."
        }
      }
    },
    "Error": {
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "fields": {
          "type": "string"
        }
      }
    }
  }
}